<div class="container">
    <!-- Toolbar -->
    <div class="toolbar" role="banner">
      <img
        width="40"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />
      <span>Starkflow Assignment</span>
    </div>
    <div class="back">
        <span style="color: gray; cursor: pointer;" (click)="back()">< Back</span>
    </div>
    <div style="display: flex;">
      <img mat-card-avatar [src]="current_img" style="width: 100px; height: 100px" class="example-header-image">
     <h1>{{ data?.name | titlecase }}</h1>
    </div>
    <div fxLayout="row">
        <table style="margin-top: 2%; padding: 2%;">
          <tr>
            <td class="header">Abilities</td>
            <td><ng-container *ngFor="let item of data?.abilities; let i = index">{{ item.ability.name | titlecase }}<ng-container *ngIf="i!=data?.abilities.length-1">, </ng-container></ng-container></td>
          </tr>
          <tr>
            <td class="header">Base experience</td>
            <td>{{ data?.base_experience }}</td>
          </tr>
          <tr>
            <td class="header">Game indices</td>
            <td><ng-container *ngFor="let item of data?.game_indices; let i = index">{{ item.version.name | titlecase }}<ng-container *ngIf="i!=data?.game_indices.length-1">, </ng-container></ng-container></td>
          </tr>
          <tr>
            <td class="header">Height</td>
            <td>{{ data?.height }}</td>
          </tr>
          <tr>
            <td class="header">Moves</td>
            <td><ng-container *ngFor="let item of data?.moves; let i = index">{{ item.move.name | titlecase }}<ng-container *ngIf="i!=data?.moves.length-1">, </ng-container></ng-container></td>
          </tr>
          <tr>
            <td class="header">Back default</td>
            <td><ng-container *ngIf="data.sprites"><img mat-card-avatar [src]="data?.sprites.back_default" style="width: 70px; height: 70px" class="example-header-image"></ng-container></td>
          </tr>
          <tr>
            <td class="header">Back shiny</td>
            <td><ng-container *ngIf="data.sprites"><img mat-card-avatar [src]="data?.sprites.back_shiny" style="width: 70px; height: 70px" class="example-header-image"></ng-container></td>
          </tr>
          <tr>
            <td class="header">Front default</td>
            <td><ng-container *ngIf="data.sprites"><img mat-card-avatar [src]="data?.sprites.front_default" style="width: 70px; height: 70px" class="example-header-image"></ng-container></td>
          </tr>
          <tr>
            <td class="header">Front shiny</td>
            <td><ng-container *ngIf="data.sprites"><img mat-card-avatar [src]="data?.sprites.front_shiny" style="width: 70px; height: 70px" class="example-header-image"></ng-container></td>
          </tr>
          <tr>
            <td class="header">Stats</td>
            <td><ng-container *ngFor="let item of data?.stats; let i = index">{{ item.stat.name | titlecase }}<ng-container *ngIf="i!=data?.stats.length-1">, </ng-container></ng-container></td>
          </tr>
          <tr>
            <td class="header">Types</td>
            <td><ng-container *ngFor="let item of data?.types; let i = index">{{ item.type.name | titlecase }}<ng-container *ngIf="i!=data?.types.length-1">, </ng-container></ng-container></td>
          </tr>
          <tr>
            <td class="header">Weight</td>
            <td>{{ data?.weight }}</td>
          </tr>
        </table>
         
    </div>
</div>